
.sec-01{
    // width: 100%;
    position: relative;
    h2{
        
        font-family: MicrosoftJhengHeiRegular;
        font-size: 20px;
        color: #3D1101;
        line-height: 32px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 31px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 7%;
        left: 28%;
        
        border: 1px solid #979797;
        width: 110px;
        height: 1px;
        @include pad-768px(){
            width: 110px;
            left: 22%;
        }
        @include mobile-767px(){
            display: none;
            }
    }
    &::after{
        content: "";
        position: absolute;
        top: 7%;
        left: 61%;
       
        border: 1px solid #979797;
        width: 110px;
        height: 1px;
        @include pad-768px(){
            width: 110px;
            left: 64%;
        }
        @include mobile-767px(){
        display: none;
        }
    }
    

}


.sec-01{
    ul{

        display: flex;
        justify-content: space-around;
        margin-bottom: 50px;
        @include mobile-767px(){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        @include mobile-414px(){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    li{
        width: 33.33333%;
        padding: 0 2%;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        @include mobile-767px(){
            width: 50%;
        }
        @include mobile-414px(){
            width: 100%;
            padding: 0 10%;
        }
    }

}


.sec-01{
    img{
        width: 200px;
        height: 200px;
        padding: 0 1%;
        margin-bottom: 20px;
        border-radius: 50%;
        &:hover{
            width: 230px;
            height: 230px;
            transform: rotate(360deg);
            transition: transform 0.3s;
        }
    }
  
    h3{
        font-family: MicrosoftJhengHeiRegular;
        font-size: 18px;
        color: #3D1101;
        margin-bottom: 11px;
        &:hover{
            font-weight: bolder;
        }
    }
    p{
        font-family: MicrosoftJhengHeiRegular;
        font-size: 16px;
        color: #3D1101;
    }
    
} 

@media(max-width:768px){

    .sec-01 h3{
        font-size: 16px;
    }
    .sec-01 p{
        font-size: 14px;
    }
}

.sec-02{

    background: #3D1101;
    margin-bottom: 50px;
    img{
         width: 50%;
    }
    .chef-word{
        width: 50%;
        color: #EFE9E7;
        margin-left: 24px;
    }
}

.sec-02-container{
    
    display: flex;
    align-items: center;
    justify-content: center;

}

@media(max-width:320px){
    .sec-02 .chef-word{
        width: 320px;
        margin: 0;
        
    }
}
.chef-word h3{
    font-size: 20px;
    word-spacing: 32px;
    padding-left: 5%;
}
.sec-02 h4{
    font-size: 16px;
    margin-bottom: 16px;
    padding-left: 5%;
}
.sec-02 p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #EFE9E7;
    padding-left: 5%;
}

@media(max-width:768px){

    .chef-word h3{
        font-size: 24px;
    }
    .chef-word h4{
        padding: 5%;
    }
}
@media(max-width:415px){

    .chef-word p{
        padding: 0;
    }
}
@media(max-width:320px){
  
    .chef-word h3{
        padding: 0;
    }
    
    
}
.sec-03{

    h3{
            font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    text-align: center;
    margin-bottom: 32px;
    }
    ul{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        @include mobile-767px(){
            justify-content: flex-start;
        }
        @include mobile-414px(){
            flex-direction: column;
        }
    }
    li{
        width: 30%;
        display: flex;
        padding: 0 1%;
        img{
            width: 67px;
            height: 67px;
            border-radius: 50%; 
        }
        @include mobile-767px(){
            width:48%;
        }
        @include mobile-414px(){
            width: 100%;
        }
        

    }
}




.feeback-text{
    padding: 10% 2%;
}
.feeback-text h4{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 18px;
    color: #3D1101;
    margin-bottom: 22px;
}
.feeback-text p{
    font-family: MicrosoftJhengHeiRegular;
    font-size: 16px;
    color: #3D1101;
    line-height: 24px;
}
.feeback-user{
    float: right;
}
.map-booking h2{
    text-align: center;
    font-family: MicrosoftJhengHeiRegular;
    font-size: 24px;
    color: #3D1101;
    
    margin-bottom: 38px;
}
.map-booking{
    background: rgba(250,250,250,0.70);
    margin-bottom: 50px;
   
    
}

.map-booking img{
   margin-left: 10%;
   @include mobile-767px(){
    margin: 0;
   }
}

.map-booking-wrap{
    display: flex;
    justify-content: center;
    
    .map{
        width: 100%;
      
    }
    @include pad-768px(){
        padding: 0 1%;
    }
    @include mobile-767px(){
        flex-direction: column-reverse;
    }

}

.hamberger{
    display: none;
}
.booking-form{
    margin: 0 7%;
    @include mobile-767px(){
        margin-bottom: 16px;
    }
}
.booking-form input{
    width: 100%;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
    padding: 5px 14px;
    margin-bottom: 12px;
    
}

.booking-form input:focus{
    box-shadow: #f4600a 3px 3px 3px;
}
.booking-form label{
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
}

.veg-radio label{
    display: inline;    
}
.veg-radio input{
    height: 16px;
    width: 16px;
    margin-bottom: 36px;
}
.booking-form{
    width: 80%;
    .btn{
        float: right;
    }
}

@media(max-width:415px){
    .booking-form{
        margin-bottom: 16px;
    }
}

.btn{
    .cancel{
    width: 70px;
    height: 32px;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    background: rgba(0,0,0,0.35);
    border-radius: 3px;
    border: transparent 1px solid;
    &:hover{
        background: rgb(0, 0, 0);
    }
    }
    .submit{
        width: 70px;
        height: 32px;
        background: #F56C23;
        border-radius: 3px;
        font-family: PingFangTC-Regular;
        font-size: 14px;
        color: #FFFFFF;
        border: transparent 1px solid;
        &:hover{
            background: #f4600a;
        }
    }

}
